<div class="card bg-light mb-3">
    <div class="card-header">
        <b>Comment by:</b> <%= comment.author %>
        <p class="card-text float-right">
            <%= comment.date %>
        </p>
    </div>
    <div class="card-body">

        <p class="card-text">
            <%= comment.body %>
        </p>
    </div>
</div>