<% include header %>

  <h2>Write a new post</h2>

  <form method="post" role="form">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" name="title" placeholder="Title" required>
    </div>
    <div class="form-group">
      <label for="body">Post text</label>
      <textarea class="form-control" id="body" name="body" placeholder="Write your random post here!" rows="3" required></textarea>
    </div>
    <div class="form-group">
      <input type="submit" value="Add post" class="btn btn-primary">
    </div>
  </form>

<% include footer %>