<!DOCTYPE html>
<html lang="en">
	<head>
		<title>ExpressJS Blog</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
		<link href="css/styles.css" rel="stylesheet" type="text/css" media="all" />
	
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	</head>
<body class="login-page">
    <div class="container login-block">
		<div class="row">
			<div class="col-sm">
				<div class="form">
					<form class="login-form" action="/auth/signup" method="post">
                        <input type="text" name="username" placeholder="Username" required="">
                        <input type="text" name="email" placeholder="E-mail" required="">
						<input type="password" name="password" placeholder="Password" required="">
						<input class="submit" type="submit" value="Sign up">
						
						<p class="message">Already have an account?
							<a href="/">Go to login</a>
						</p>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>